div {
    position: relative;
    top: 20rem;
 left: 35rem;
}
#clock {
    position: absolute;
 background-color: black;
 color: white;
 padding: 1rem;
 border-radius: 1rem;
 box-shadow: 0 4px 8px 0 rgba(156, 151, 151, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}